@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Raleway:400,700,900&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}