<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" th:href="@{~/css/main.css}">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</head>

<!-- deze pagina is aangemaakt om als filter te dienen voor onze animals -->
<body>

<div th:replace="~{menu::#nav_menu(index, ${cartAmount})}"></div>

<div th:replace="~{menu::banner}"></div>

    <div class="container">
        <div class="product__wrapper">
            <div class="product" th:each="product : ${animals}">

                <div class="product__row product__row--column">
                    <h3 class="header header--3 product__name" th:text="${product.name}"></h3>
                    <h3 class="header header--3 product__price" th:text="|€${product.price}|"></h3>
                    <p class="product__category" th:text="${product.category}"></p>
                </div>

                <div class="product__row product__row--center">
                    <img class="product__img" th:src="${product.imgUrl}" th:alt="${product.name}">
                </div>

                <p class="product__description" th:text="${product.description}"></p>
                <p class="product__description" th:text="${product.promoPrice}"></p>

                <div class="product__info">
                    <h4 class="product__info__header header header--4">Info</h4>
                    <div class="">
                        <p class="product__rating" th:text="|Rating: ${product.rating}/10|"></p>
                        <p class="product__stock" th:text="|In stock: ${product.stock}|"></p>
                        <p class="product__delivery" th:if="${product.stock == 0}"
                           th:text="|Expected delivery: about ${product.delivery} weeks|"></p>
                    </div>
                </div>

                <p class="product__animal" th:text="|Category: ${product.animal}|"></p>

                <div class="prod__btns">
                    <a th:href="@{~/details/{id}(id=${product.id})}" class="btn btn--details">details</a>
                    <a th:href="@{~/add/{id}(id=${product.id})}" class="btn btn--add">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>