<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}">

</head>
    <body>

        <div th:replace="~{menu::#nav_menu(cart)}"></div>

        <div class="container">
            <div class="cart__wrapper" th:if="${!cartContent.isEmpty()}">
            <table class="cart">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cartItem : ${cartContent}">
                        <td th:text="${cartItem.product.getName()}"></td>
                        <td th:text="${cartItem.product.getPrice()}"></td>
                        <td th:text="${cartItem.qty}"></td>
                        <td th:text="|€${cartItem.product.getPrice() * cartItem.qty}|"></td>
                        <td><a th:href="@{~/remove/{id}(id = ${cartItem.product.id})}">Remove</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="cart-total" th:utext="|Cart total: €${cartTotal}|"></p>
            </div>

            <p th:if="${cartContent.isEmpty()}">Cart is empty.</p>
        </div>

        <div th:replace="~{menu::footer}">Copyright</div>

    </body>


</html>