<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}">

</head>
    <body>

        <div th:replace="~{menu::#nav_menu(cart)}"></div>

        <div class="container">
            <table class="cart" th:each="cartItem : ${cartContent}">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${cartItem.product.getName()}"></td>
                        <td th:text="${cartItem.product.getPrice()}"></td>
                        <td th:text="${cartItem.qty}"></td>
                        <td th:text="${cartItem.product.getPrice() * cartItem.qty}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="~{menu::footer}">Copyright</div>

    </body>


</html>