<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check out</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" th:href="@{~/css/main.css}">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>

<body>

    <div th:replace="~{menu::#nav_menu(index)}"></div>

    <div class="container">
        <form class="customerForm" th:action="@{~/checkout}" method="POST" th:object="${nieuweCustomer}">
            <div class="customerForm__input">
                <label class="customerForm__label" for="username">Username</label>
                <input type="text" th:field="*{username}" id="username" >
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span>
            </div>

            <div class="customerForm__input">
                <label class="customerForm__label" for="adress">Adress</label>
                <input type="text" th:field="*{adress}" id="adress" >
                <span th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}" class="error"></span>
            </div>

            <div class="customerForm__input">
                <label class="customerForm__label" for="postalcode">Postal Code</label>
                <input type="text" th:field="*{postalcode}" id="postalcode" >
                <span th:if="${#fields.hasErrors('postalcode')}" th:errors="*{postalcode}" class="error"></span>
            </div>

            <div class="customerForm__input">
                <label class="customerForm__label" for="email">Email</label>
                <input type="text" th:field="*{email}" id="email" >
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
            </div>

            <div class="customerForm__input">
                <label class="customerForm__label" for="bankaccount">Bankaccount</label>
                <input type="text" th:field="*{bankaccount}" id="bankaccount" >
                <span th:if="${#fields.hasErrors('bankaccount')}" th:errors="*{bankaccount}" class="error"></span>
            </div>

            <div class="customerForm__input">
                <input type="submit" th:value="#{submit}" class="btn">
            </div>
        </form>
    </div>

    <div th:replace="~{menu::footer}">Copyright</div>

</body>

</html>



