<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}">
</head>
<body>

    <div th:replace="~{menu::#nav_menu(index)}"></div>

    <div class="container">
        <div class="product">

            <div class="product__row product__row--column">
                <h3 class="header header--3 product__name" th:text="${product.name}"></h3>
                <p class="product__category" th:text="${product.category}"></p>
            </div>

            <div class="product__row product__row--center">
                <img class="product__img" th:src="${product.imgUrl}" th:alt="${product.name}">
            </div>

            <p class="product__price" th:text="|€${product.price}|"></p>
            <p class="product__rating" th:text="|Rating: ${product.rating}/10|"></p>
            <p class="product__description" th:text="${product.description}"></p>
            <p class="product__stock" th:text="|In stock: ${product.stock}|"></p>
            <p class="product__delivery" th:if="${product.stock == 0}" th:text="|Expected delivery: about ${product.delivery} weeks|"></p>
            <p class="product__animal" th:text="${product.animal}"></p>
        </div>
    </div>

    <div th:replace="~{menu::footer}">Copyright</div>

</body>
</html>