<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
         <nav th:replace="~{menu::#nav_menu(index)}"></nav>

        <div>
             <p class="product_name" th:text="${product.name}"></p>
            <p class="product_price" th:text="${product.price}"></p>
            <p class="product_description" th:text="${product.description}"></p>
            <p class="product_rating" th:text="${product.rating}"></p>
            <p class="product_imgUrl" th:text="${product.imgUrl}"></p>
            <p class="product_category" th:text="${product.category}"></p>
             <p class="product_stock" th:text="${product.stock}"></p>
            <p class="product_delivery" th:text="${product.delivery}"></p>
            <p class="product_animal" th:text="${product.animal}"></p>
         <img th:src="${product.imgUrl}" th:alt="${product.name}">
         </div>

         <div th:replace="~{menu::footer}">Copyright</div>
    </body>
</html>