<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div class="nav__wrapper" th:fragment="nav_menu(page, cartAmount)" id="nav_menu">

    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item"><a th:href="@{~/index}"th:class="${(page=='index')?'active nav\_\_link':'nav\_\_link'}">Tim & Jeffrey</a></li>


<!--                onze filter voor de categoriën-->
                <li class="nav__list-item dropdown">
                    <a class="nav__link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div id="a3" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/categoryfilter/Nutrition">Nutrition</a>
                        <a class="dropdown-item" href="/categoryfilter/Toys">Toys</a>
                        <a class="dropdown-item" href="/categoryfilter/Habitat">Habitat</a>
                    </div>
                </li>

                <li class="nav__list-item dropdown">
                    <a class="nav__link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Animals
                    </a>
                    <div id="a3" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/animalfilter/Dogs">Dogs</a>
                        <a class="dropdown-item" href="/animalfilter/Cats">Cats</a>
                        <a class="dropdown-item" href="/animalfilter/Birds">Birds</a>
                        <a class="dropdown-item" href="/animalfilter/Turtles">Turtles</a>
                    </div>
                </li>

                <li class="nav__list-item"><a th:href="@{~/about}"th:class="${(page=='about')?'active nav\_\_link':'nav\_\_link'}">About</a></li>
                <li class="nav__list-item nav__cart"><a th:href="@{~/cart}"th:class="${(page=='cart')?'active nav\_\_link':'nav\_\_link'}">
                    Cart
                    <span class="cart__amount" th:if="${cartAmount > 0}" th:text="${cartAmount}"></span>
                </a></li>
<!--                <li class="nav__list-item"><a th:href="@{~/login}"th:class="${(page=='login')?'active nav\_\_link':'nav\_\_link'}">Login</a></li>-->



            </ul>
        </nav>
    </div>

</div>

<div th:fragment="banner">
    <header class="banner">
        <div class="banner__header">
            <h1 class="banner__title header header--1">Tim & Jeffrey</h1>
            <h3 class="banner__subtitle header header--3">Pet owners' store</h3>
        </div>
    </header>
</div>

<div class="container">
    <footer class="footer" th:fragment="footer">
        <div class="container">
            <p>&copy; Tim&amp;Jeffrey</p>
        </div>
    </footer>

</div>

</html>