<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div class="nav__wrapper" th:fragment="nav_menu(page)" id="nav_menu">

    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item"><a th:href="@{~/index}"th:class="${(page=='index')?'active nav\_\_link':'nav\_\_link'}">Home</a></li>


<!--                onze filter voor de categoriën-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorie
                    </a>
                    <div id="a3" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/categoryfilter/Nutrition">Nutrition</a>
                        <a class="dropdown-item" href="/categoryfilter/Toys">Toys</a>
                        <a class="dropdown-item" href="/categoryfilter/Healtcare">Healtcare</a>
                    </div>
                </li>


                <li class="nav__list-item"><a th:href="@{~/about}"th:class="${(page=='about')?'active nav\_\_link':'nav\_\_link'}">About</a></li>
                <li class="nav__list-item"><a th:href="@{~/cart}"th:class="${(page=='cart')?'active nav\_\_link':'nav\_\_link'}">Cart</a></li>
                <li class="nav__list-item"><a th:href="@{~/login}"th:class="${(page=='login')?'active nav\_\_link':'nav\_\_link'}">Login</a></li>



            </ul>
        </nav>
    </div>

</div>


<div class="container">
    <footer class="footer" th:fragment="footer">
        <div class="container">
            <p>&copy; Tim&amp;Jeffrey</p>
        </div>
    </footer>

</div>

</html>